{% assign newsletter_form_url = site.brevo_form_url | default: '' | strip %}
{% if newsletter_form_url != '' %}
<section class="newsletter-signup" aria-labelledby="newsletter-heading" v-pre>
  <h3 id="newsletter-heading">New writing, by email</h3>
  <p class="newsletter-intro">Get a note when I publish a new post.</p>
  <form action="{{ newsletter_form_url | escape }}" method="post" target="_self">
    <label for="newsletter-email">Email address</label>
    <div class="newsletter-fields">
      <input id="newsletter-email" type="email" name="EMAIL" placeholder="you@example.com" autocomplete="email" inputmode="email" aria-describedby="newsletter-details" required>
      <button type="submit">Subscribe</button>
    </div>
    <input type="text" name="email_address_check" value="" class="newsletter-honeypot" tabindex="-1" autocomplete="off" aria-hidden="true">
    <input type="hidden" name="locale" value="en">
    <input type="hidden" name="html_type" value="simple">
    <p class="newsletter-details" id="newsletter-details">Confirm by email. Unsubscribe anytime. <a href="{{ '/feed.xml' | relative_url }}">Prefer RSS?</a></p>
  </form>
</section>
{% endif %}
